/*
Write your variables here. All available variables can be
found in https://github.com/iview/iview/blob/2.0/src/styles/custom.less.
*/

@import '~iview/src/styles/index.less';

// iview variables
@primary-color: #3C3C3C;


// gak variables
@gak-title-height: 25px;

.gak-text-left {
  text-align: left;
}

.gak-text-right {
  text-align: right;
}

.gak-text-center{
  text-align: center;
}